.StarRating {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.label {
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}